.ticketform{
    width: 50%;
    margin-left: 20.50%;
    height:69%;
    background-color: #FFFFFF;
    position: fixed;
    margin-top: 13.5%;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.07);
    display: block;
    }
.dropdown_brand{
text-align:left;
    color: #AAAAAA;
    position: absolute;
    width: 268px;
    height: 10%;
    left: 7%;
    top: 18%;
    border: none;
    background: #FFFFFF;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.07);
    border-radius: 5px;

}
.dropdown_model{

    color: #AAAAAA;
    position: absolute;
    width: 268px;
    height: 10%;
    left: 50%;
    top: 18%;
    border: none;
align-items: center;

    background: #FFFFFF;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.07);
    border-radius: 5px;

}
.uploadicon{
    position: absolute;
    left:10%;
}
.fileselect{
display: none;
}
.filelabel{
    position: absolute;
    width: 225px;
    height: 10%;
    border: none;
    background: #FFFFFF;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    left: 25%;
    cursor: pointer;
    top: 30%;
font-weight: normal;
  align-items: center;
    font-size:smaller;
    font-family: 'Inter', sans-serif;
    color: #898989;
    background-color: #FFFFFF;

    display: flex;
}
.dropdown_product {
border: none;
    color: #AAAAAA;
    position: absolute;
    width: 268px;
    height: 10%;
    left: 7%;
    top: 30%;

    background: #FFFFFF;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}
.brief {

    color: #AAAAAA;
    position: absolute;
    width: 84%;
    height: 10%;
    left: 6.9%;
    top:42%;
    background: #FFFFFF;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
      border: none;
}
.description{

    color: #AAAAAA;
    position: absolute;

    height: 22%;
    width: 84%;

    left: 6.9%;
    top:56%;
    border: none;

    background: #FFFFFF;
    box-shadow: 20px 4px 24px rgba(0, 0, 0, 0.07);
    filter: dropShadow();

    border-radius: 5px;

}
.ticketcontainer{
    position: absolute;
top:85%;
    left: -15%;
    font-size: medium;
    font-family: 'Inter', sans-serif;
    color: #AAAAAA;
}
.ticketcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.ticketcheckmark{
    position: absolute;
    top: 0;
    left: 5%;
    border-radius: 4px;
    height: 18px;
    width: 22px;
    background-color: #e16161;
}
.ticketcontainer:hover input ~ .ticketcheckmark {
    background-color:  rgb(212, 65, 65);

}
.ticketcontainer input:checked ~ .ticketcheckmark:after {
    display: block;
}


/* When the checkbox is checked, add a blue background */
.ticketcontainer input:checked ~ .checkmark {
    background-color: rgb(212, 65, 65);
}

/* Create the checkmark/indicator (hidden when not checked) */
.ticketcheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.ticketcontainer input:checked ~ .ticketcheckmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.ticketcontainer .ticketcheckmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.Submit{
    position: absolute;
    top:85%;
    left: 61%;
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    background-color: #9F2C2C;
    font-size: 17px;
}
.Submit:hover{
    background-color: rgba(159, 44, 44, 0.86);
}



